body {
  background-color: rgb(255, 0, 0);
  text-align: center;
  font-size: 20px;
}

 #year-input{
  border-radius: 2px;
  width: 60px;
  height: 20px;
  box-shadow: black;
  background-color: yellow;
}

#month-input{
  border-radius: 2px;
  width: 60px;
  height: 20px;
  box-shadow: black;
  background-color: yellow;
}

#day-input{
  border-radius: 2px;
  width: 60px;
  height: 20px;
  box-shadow: black;
  background-color: yellow;
}

#submit {
  border-radius: 2px;
  width: 60px;
  background-color: yellow;
}

.clear {
  border-radius: 2px;
  width: 50px;
  background-color: yellow;
}

