body {
  background-color: aqua;
  text-align: center;
  font-size: 18px;
}

 #year-input{
  border-radius: 2px;
  width: 60px;
  height: 20px;
  box-shadow: black;
}

#month-input{
  border-radius: 2px;
  width: 60px;
  height: 20px;
  box-shadow: black;
}

#day-input{
  border-radius: 2px;
  width: 60px;
  height: 20px;
  box-shadow: black;
}

#submit-button {
  border-radius: 2px;
  width: 60px;
}

